
{% extends 'politics.html' %}

{% block title %}

<div class="col-12">
    <h2 class="text-center m-5">Politics</h2>
  </div>

{% endblock%}





{% block content %}
<div class="politics">
  
        <div class="news-article">
            

            <h2>{{ detailsp.name }}</h2>
            
                <img src="media/{{ detailsp.image }}" alt="{{detailp.name}}">
            
            <p>{{ detailps.content }}</p>
            <p>Published by {{ detailps.author }} on {{ detailps.time }}</p>
        </div>
 
</div>
  
{% endblock%}