{% extends 'base.html' %}
{% load static %}


{% block title %}
<div>
    <a class="navbar-brand" href="#">
      <img src="{% static 'images/logo.png' %}" alt="logo" id="logo"/>
    </a>
  </div>


  

{% endblock  %}


{% block content%}

<section class="row" id="latest">

  <div class="col-12">
    <h2 class="text-center m-5">Latest News</h2>
  </div>

  <div class="col-lg-3 col-md-4">
    <div class="card">
      <img src="{% static 'images/logo.png' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Foundation</h5>
        <p class="card-text">NRs. 5000</p>
        <a href="#" class="btn btn-primary">
          Details
        </a>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4">
    <div class="card">
      <img src="{% static 'images/logo.png' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Foundation</h5>
        <p class="card-text">NRs. 5000</p>
        <a href="#" class="btn btn-primary">
          Details
        </a>
      </div>
    </div>
  </div> 

  <div class="col-lg-3 col-md-4">
    <div class="card">
      <img src="{% static 'images/logo.png' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Foundation</h5>
        <p class="card-text">NRs. 5000</p>
        <a href="#" class="btn btn-primary">Details
        </a>
       
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4">
    <div class="card">
      <img src="{% static 'images/logo.png' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Foundation</h5>
        <p class="card-text">NRs. 5000</p>
        <a href="#" class="btn btn-primary">Details
          
        </a>
      </div>
    </div>
  </div>

{% endblock  %}
