{% extends 'base.html' %}

{% load static %}



{% block content%}

<section class="row" id="latest">

  <div class="col-12">
    <h2 class="text-center m-5">Latest News</h2>
  </div>

  {% for p in home %}

  <div class="col-lg-3 col-md-4">
    <div class="card">
      <img src="/media/{{p.image}}" class="card-img-top" alt="photo">
      <div class="card-body">
        <h5 class="card-title">{{p.name}}</h5>
        
        <p class="card-text">{{p.time}}</p>
        <a href="{{p.id}}" class="btn btn-primary">Click Here
          <i class="bi bi-cart"></i>
        </a>
       
      <a href="#" class="btn btn-danger">
        <i class="bi bi-heart"></i>
      </a>

      

    
      <script src="script.js">
      </script>
      
      </div>
    </div>
  </div>


{% endfor %}

{% endblock  %}

