{% extends 'base.html' %}
{% load static %}


{% block title %}
<div class="col-12">
    <h2 class="text-center m-5">Sports</h2>
  </div>

{% endblock  %}



{% block content %}

<section class="row" id="latest">
  {% for h in sports %}

  <div class="col-lg-3 col-md-4">
    <div class="card">
      <img src="/media/{{h.image}}" class="card-img-top" alt="photo">
      <div class="card-body">
        <h5 class="card-title">{{h.name}}</h5>
        
        <p class="card-text">{{h.time}}</p>
        <a href="{{h.id}}" class="btn btn-primary">Click Here
          
        </a>

        <button class="btn btn-outline-primary like-btn" data-article-id="{{ article.id }}">
          <i class="far fa-heart"></i>
          <span class="like-count">{{ article.like_set.count }}</span>
      </button>
    
      
      <script src="script.js">
      </script>
      </div>
    </div>
  </div>


{% endfor %}
{% endblock  %}